body {
    background-color: rgb(80, 80, 80);
}
.SJP_Video {
    width: 100%;
}

.red { border: 1px solid red; }
.yellow { border: 1px solid yellow; }
.green { border: 1px solid green; }
.blue { border: 1px solid blue; }
.purple { border: 1px solid purple; }
.orange { border: 1px solid orangered; }
.aqua { border: 1px solid aqua; }

.SJP_hidden {
    display: none!important;
}
.SJP_show {
    display: block!important;
}
.SJP_configMenuDiv {
    position: relative;
    top: 2px;
}
.SJP_titleDiv {
    position: absolute;
    left: 10px;
    top: 10px;
}

.SJP_playBtnM {
    position: absolute;
    background-color: transparent;
    border: none;
    opacity: .85;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(202, 202, 202, 0.452); */
    cursor: pointer;
    z-index: 100;
    transition: transform 0.3s ease;
}
.SJP_playBtnM:hover, svg {
    cursor: pointer;
}
.SJP_playBtnM:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
}
.SJP_btnFlash {
    position: absolute;
    background-color: transparent;
    border: none;
    opacity: .30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.SJP_replay {
    position: absolute;
    background-color: transparent;
    fill: white;
    border: none;
    opacity: .60;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 100;
    display: none;
}
.SJP_replay:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.1);
    opacity: .80;
}
@keyframes SJP_animaPlay {
    from{ }
    to {  
        transform: scale(1.5);
    }
}

.SJP_flashing {
    animation: SJP_animaPlay .3s 0s;
}
.SJP_playFlash,
.SJP_pauseFlash {
    fill: rgba(255, 255, 255, 0.486);
}

.SJP_playFlash:not(.SJP_flashing),
.SJP_pauseFlash:not(.SJP_flashing) {
    display: none;
}

.SJP_videoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: black;
}

.SJP_videoContainer .SJP_fullScreen{
    max-width: initial;
    width: 100%;
    max-height: 100vh;
}

.SJP_videoContainer.scrubbing .SJP_previewImg,
.SJP_timelineContainer:hover .SJP_previewImg,
.SJP_timelineContainer:hover .SJP_timeText {
    display: block;
}

.SJP_videoContainer.scrubbing .SJP_timeline::before,
.SJP_timelineContainer:hover .SJP_timeline::before {
    display: block;
}

.SJP_videoContainer.scrubbing .SJP_thumbIndicator,
.SJP_timelineContainer:hover .SJP_thumbIndicator {
    --scale: 1;
}

.SJP_videoContainer.scrubbing .SJP_timeline,
.SJP_timelineContainer:hover .SJP_timeline {
    height: 100%!important;
}

.SJP_videoContainer.SJP_fullScreen .SJP_fullScreenOpen{
    display: none;
}
.SJP_videoContainer:not(.SJP_fullScreen) .SJP_fullScreenClose{
    display: none;
}

.SJP_videoContainer[data-volume-level="high"] .SJP_volumeHighIcon {
    display: block;
}
.SJP_videoContainer[data-volume-level="high"] .SJP_volumeLowIcon {
    display: none;
}
.SJP_videoContainer[data-volume-level="high"] .SJP_volumeMutedIcon {
    display: none;
}

.SJP_videoContainer[data-volume-level="low"] .SJP_volumeLowIcon {
    display: block;
}
.SJP_videoContainer[data-volume-level="low"] .SJP_volumeHighIcon {
    display: none;
}
.SJP_videoContainer[data-volume-level="low"] .SJP_volumeMutedIcon {
    display: none;
}

.SJP_videoContainer[data-volume-level="muted"] .SJP_volumeMutedIcon {
    display: block;
}
.SJP_videoContainer[data-volume-level="muted"] .SJP_volumeHighIcon {
    display: none;
}
.SJP_videoContainer[data-volume-level="muted"] .SJP_volumeLowIcon {
    display: none;
}

.SJP_videoControlsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.SJP_videoControlsContainer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    aspect-ratio: 13 / 1;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.SJP_videoControlsContainer .SJP_controls {
    display: flex;
    gap: .5rem;
    padding: .25em;
    align-items: center;
}
.SJP_videoControlsContainer .SJP_controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}
.SJP_videoControlsContainer .SJP_controls button:hover{
    opacity: 1;
}

/* VOLUME */

.SJP_rangeV::-webkit-slider-thumb,
.SJP_rangeH::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 13px;
    width: 13px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}
.SJP_rangeV::-moz-range-thumb,
.SJP_rangeH::-moz-range-thumb {
    height: 13px;
    width: 13px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}
.SJP_volumeHighIcon,
.SJP_volumeLowIcon,
.SJP_volumeMutedIcon {
    display: none;
}

.SJP_volumeContainer {
    position: relative;
    display: flex;
    /* gap: .5rem; */
    align-items: center;
}

/* VERTICAL */

.SJP_rangeV {
    -webkit-appearance: none;
    appearance: none; 
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 5px;
    background: #ccc;
}

.SJP_verticalSlider {
    position: absolute;
    width: 65px; /* HEIGHT */
    left: 20px; /* TOP/BOTTOM */
    top: 17px; /* LEFT/RIGHT */
}

.SJP_volumeDivV {
    position: absolute;
    transform: rotate(270deg); /* TURN VERTICAL */
    background-color: transparent;
    width: 100px;
    height: 45px;
    padding-left: 5px;
    left: -35px;
    top: -70px;
    display: none;
    /* background-color: rgba(100,100,100,.5);
    border-radius: 100px; */
}

.SJP_volumeContainer:hover .SJP_volumeDivV, 
.SJP_volumeSlider:focus-within {
    display: block;
}

/* HORIZONTAL */

.SJP_rangeH {
    -webkit-appearance: none;
    appearance: none; 
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 5px;
    background: #ccc;

    width: 65px;
    transform-origin: left;
    transform: scaleX(0);
    /* transition: width 200ms ease-in-out, transform 200ms ease-in-out; */
}
.SJP_volumeDivH {
    position: relative;
    /* transform: rotate(270deg); */
    background-color: transparent;
    top: -20px;
    left: -19px;
    width: 0px;
}
.SJP_volumeContainer:hover .SJP_rangeH,
.SJP_rangeH:focus-within {
    width: 65px;
    transform: scaleX(1);
}

.SJP_volumeContainer:hover .SJP_volumeDivH,
.SJP_volumeDivH:focus-within {
    width: 65px;
    transform: scaleX(1);
}

/* ------------------------------- */

.SJP_durationContainer {
    display: flex;
    position: relative;
    top: -1px;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
}

.SJP_timelineContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.SJP_timeline {
    position: relative;
    top: -2px;
    width: 100%;
}

.SJP_tick {
    position: absolute;
    display: none;
}

.SJP_timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
}

.SJP_timeline .SJP_thumbIndicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
} 



.SJP_timeline .SJP_previewImg {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    /* top: -41px; */
    top: -2px;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
}
.SJP_timeText {
    position: absolute;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    display: none;
    top: -5px;
    /* background-color: rgba(100, 100, 100, 0.425); */
    padding: 5px;
    border-radius: 5px;
}

/*----------------------------------------------------------------------*/

.SJP_playPause {
    border: 0!important;
    background: transparent!important;
    box-sizing: border-box!important;
    width: 0!important;
    height: 17px!important;
    transition: 200ms all ease!important;
    cursor: pointer!important;
    border-style: solid!important;
    border-width: 11px 0 11px 17px!important;
    margin-left: 6px!important;
}

.SJP_playPause.SJP_paused {
    border-style: double!important;
    border-width: 0px 0 0px 17px!important;
}
.SJP_playPause.SJP_ended {
    display: none!important;
}

/*------------------------------------------------------*/

.SJP_configDiv {
    position: absolute;
    font-weight: 600;
    background-color: rgba(100,100,100,.7);
    opacity: 1;
    z-index: 101;
    top: 0;
    left: 0;
    display: none;
    padding: 5px;
    left: -40px;
    top: -216px;
}
.SJP_menuItem:hover{
    background-color: rgba(143, 143, 143, 0.575);
} 
.SJP_menuItem {
    display: table-row;
    cursor: pointer;
    outline: none;
    height: 25px;
}
.SJP_menuItem_label {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    padding-right: 13px;
}
.SJP_menuItem_icon {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}
.SJP_menuItem_content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}
.SJP_menuItem_icon svg {
    position: relative;
    margin-left: 5px;
    top: 2px;
}

/* RIGHTCLICK MENU */

.SJP_rightMenu {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.9);
    padding: 5px;
    user-select: none;
    z-index: 112;
    font-size: 15px;
    width: 160px;
    top: 0;
    left: 0;
    display: none;
}
.SJP_rightMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.SJP_rightMenu li {
    padding: 5px;
    cursor: pointer;
}
.SJP_rightMenu ul li {
    display: block;
}
.SJP_rightMenuUL li:hover {
    background-color: rgba(100,100,100,0.5);
}
.SJP_fsvg {
    position: relative;
    fill: white;
    top: 2px;
    padding-right: 5px;
}

/* ABOUT */

.SJP_about {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.9);
    padding: 5px;
    user-select: none;
    z-index: 112;
    font-size: 15px;
    width: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
}